
    <div class="login-container">
      
      <h6>Login into PMAY</h6>

      <span>Please enter your username and password</span>
      

      <div class="form-login">

          <div class="row">

            <div class="col m12">
                
        
                <div class="input-field ">
                  <input  id="first_name" type="text" class="validate">
                  <label for="first_name">Username</label>
                </div>

                <div class="input-field ">
                  <input id="last_name" type="password" class="validate">
                  <label for="last_name">Password</label>
                </div>

                <button [routerLink] = "['home']" class="btn waves-effect waves-light btnSum" type="submit" name="action">Go
                 
                </button>

            </div>


          </div>

      </div>

    </div>


