<div class="row">

  <div class="background-image">

  <div class="project-title">
      <h4>Andheri Slum Redevelopment</h4>
  </div>

  <div class="project-desc">

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an <br/>unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

  </div>





</div>


  <div class="form-data">



  </div>

</div>
