<div class="row custom">

    

  <div class="col m6">

      <div class="row">
          <div class="col ">
            <div class="card">
              <div class="card-image">
                  <img src="assets/bg.jpg" height="250px">
    
              </div>
              <div class="card-content">
                  <p>Construction Andheri </p>
                  <span style="font-size:10px;">Uploaded on 20.3.2017</span>
              </div>
            </div>
          </div>
        </div>

  </div>



  <div class="col m6">
      
      <h5>Geo Coordinates</h5>

      <p>19.0826881,72.6009745</p>

    </div>

</div>



<div class="row">


    <div class="col m12">
  
  
      <div class="commented-box">
  
        <button class="uploadBtn">Upload</button>
  
      </div>
  
  
  
  
      <div class="commented-box">
  
        <h6>The Tender has to be within the budget of rs 300000</h6>
        <span style="float:right">
          <i class="material-icons"></i>
        </span>
        <small style="color : #666;font-weight:500">Raj Pandey</small>
      </div>
  
    </div>
  
  
  
    <div class="col m12">
  
      <div class="comment-box">
  
        <input type="text" id="comment" placeholder="Enter Comment here">
        <button class="enterBtn">Enter</button>
  
  
      </div>
  
    </div>
  
  </div>
  