<div class="navbar-fixed">
    <nav class="navbar-custom">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Yojna</a>

        <ul class="right hide-on-med-and-down" *ngIf="router.url === '/home' || router.url === '/phases'" >
          <li><a class="waves-effect waves-light btn modal-trigger" (click)="ModalOpen()">New Project<i class="material-icons right">add</i></a></li>
          <!-- Dropdown Trigger -->
          <a materialize="dropdown" class='dropdown-button btn' href='#' data-activates='dropdown1'>Setting<i class="material-icons right">arrow_drop_down</i></a>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a>one</a></li>
            <li><a>two</a></li>
            <li class="divider"></li>
            <li><a>three</a></li>
          </ul>
          <!-- <li><a class="dropdown-trigger"  data-target="dropdown1">Setting<i class="material-icons right">arrow_drop_down</i></a></li> -->
          <li><a href="mobile.html"><i class="material-icons">notifications</i></a></li>
        </ul>

      </div>
    </nav>
  </div>

  <!-- <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul> -->







  