<div class="row">
    <div class="col m3">
  
  
      <div class="row">
        <div class="col ">
          <div class="card">
            <div class="card-image">
              <img src="assets/final.jpg">
           
            </div>  
            <div class="card-content">
              <p>Applicant 1</p>
              <span style="font-size:14px;">Uploaded on 20.3.2017</span>
            </div>
          </div>
        </div>
      </div>
  
  
  
  
    </div>
    <div class="col m3">
  
  
      <div class="row">
        <div class="col ">
          <div class="card">
            <div class="card-image">
                <img src="assets/final.jpg">
  
            </div>
            <div class="card-content">
                <p>Applicant 2</p>
                <span style="font-size:14px;">Uploaded on 20.3.2017</span>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="col m3">
  
  
      <div class="row">
        <div class="col ">
          <div class="card">
            <div class="card-image">
                <img src="assets/final.jpg">
  
            </div>
            <div class="card-content">
                <p>Applicant 3</p>
                <span style="font-size:14px;">Uploaded on 20.3.2017</span>
            </div>
  
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="col m3">
  
  
      <div class="row">
        <div class="col ">
          <div class="card">
            <div class="card-image">
                <img src="assets/final.jpg">
  
            </div>
            <div class="card-content">
                <p>Applicant 4</p>
              <span style="font-size:14px;">Uploaded on 20.3.2017</span>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <div class="row">
      <div class="col m3">
    
    
        <div class="row">
          <div class="col ">
            <div class="card">
              <div class="card-image">
                  <img src="assets/final.jpg">
    
              </div>
              <div class="card-content">
                  <p>Applicant 5</p>
                  <span style="font-size:14px;">Uploaded on 20.3.2017</span>
              </div>
            </div>
          </div>
        </div>
    
    
    
    
      </div>
      <div class="col m3">
    
    
        <div class="row">
          <div class="col ">
            <div class="card">
              <div class="card-image">
                  <img src="assets/final.jpg">
    
              </div>
              <div class="card-content">
                  <p>Applicant 6</p>
                  <span style="font-size:14px;">Uploaded on 20.3.2017</span>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    
      <div class="col m3">
    
    
        <div class="row">
          <div class="col ">
            <div class="card">
              <div class="card-image">
                  <img src="assets/final.jpg">
                
              </div>
              <div class="card-content">
                  <p>Applicant 7</p>
                  <span style="font-size:14px;">Uploaded on 20.3.2017</span>
              </div>
    
            </div>
          </div>
        </div>
    
      </div>
    
      <div class="col m3">
    
    
        <div class="row">
          <div class="col ">
            <div class="card">
              <div class="card-image">
                  <img src="assets/final.jpg">
    
              </div>
              <div class="card-content">
                  <p>Applicant 8</p>
                  <span style="font-size:14px;">Uploaded on 20.3.2017</span>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>
  
  <div class="row">
  
  
    <div class="col m12">
  
  
      <div class="commented-box">
        
          <button class="uploadBtn">Upload</button>
        <button class="uploadBtn">Compare</button>
  
      </div>
  
  
  
  
      <div class="commented-box">
  
        <h6>Bidding process for project has been started</h6>
        <span style="float:right">
          <i class="material-icons"></i>
        </span>
        <small style="color : #666;font-weight:500">Suraj</small>
      </div>
  
    </div>
  
  
  
    <div class="col m12">
  
      <div class="comment-box">
  
        <input type="text" id="comment" placeholder="Enter Comment here">
        <button class="enterBtn">Enter</button>
  
  
      </div>
  
    </div>
  
  </div>
  
  
  